# python virtual environment
.venv/

# uv cache used in sandboxed environments
.uv-cache/

# py cache
__pycache__/

# pytest
.pytest_cache/

# testmon
.testmondata

# builds
/dist
/build

# ebooks for testing
*.epub

IFLOW.md
.IFLOW/

# agent instructions
AGENTS.md